.shape1 {
  width: 60%;
  height: 50px;
  background-color: orange;
}

.shape2 {
  width: 60%;
  height: 50px;
  background-color: green;
}

@media only screen and (min-width: 600px) {
  .shape1 {
    width: 100%;
    height: 50px;
    background-color: blue;
  }
  .shape2 {
    width: 100%;
    height: 50px;
    background-color: purple;
  }
  .paragraph1 {
    display: flex;
    color: green;
    margin: 10px 40px;
  }
}

@media only screen and (min-width: 699px) {
  .paragraph1 {
    display: flex;
    margin: 10px 30px;
    color: purple;
  }
}

@media only screen and (min-width: 700px) {
  .shape1 {
    width: 40%;
    height: 50px;
    background-color: red;
  }
  .shape2 {
    width: 40%;
    height: 50px;
    background-color: yellow;
  }
  .paragraph1 {
    margin: 10px 20px;
    display: flex;
    color: red;
  }

  @media only screen and (min-width: 768px) {
    .paragraph1 {
      margin: 10px 10px;
      color: blue;
    }
  }

  @media only screen and (min-width: 1024px) {
    .paragraph1 {
      color: brown;
    }
  }
}
